/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
/attendance
/demo
/policy
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.zip
.env.example
/storage/app/public/barcode
/demo
/loksabha
/policy
/storage/app/public
